<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

	<system>

        <!--Register main vendor system configuration tab if it's not register-->
		<tab id="roweb" translate="label" sortOrder="10">
			<label>Roweb</label>
		</tab>

		<section id="blog" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Blog</label>
			<tab>roweb</tab>
			<resource>Roweb_Blog::config_roweb_blog</resource>

			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>General configuration</label>

				<field id="status" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enable Blog</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>

				<field id="menu" type="select" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Show in menu</label>
					<comment>Show &quot;Blog&quot; in main menu</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

			</group>

		</section>

	</system>
</config>
